label.input__checkbox(for="sample_checkbox")
  input(type="checkbox", id="sample_checkbox", name="sample_checkbox", value="sample_checkbox")
  | Sample Checkbox
label.input__checkbox(for="sample_checkbox_2")
  input(type="checkbox", id="sample_checkbox_2", name="sample_checkbox_2", value="sample_checkbox_2")
  | Sample Checkbox 2