label.input__radio(for="sample_radio")
  input(type="radio", id="sample_radio", name="sample_radio", value="sample_radio")
  | Sample Radio

label.input__radio(for="sample_radio_2") 
  input(type="radio", id="sample_radio_2", name="sample_radio", value="sample_radio_2")
  | Sample Radio 2